<h3>Trainer</h3>
<strong>Name: <%= @trainer.name if @trainer.name %></strong>
<strong>Email: <%= @trainer.email if @trainer.email %></strong>
<strong>Pokemon: <% @trainer.pokemons.each do |pokemon| %> </strong>
		<p><%= pokemon.name %></p>
    <% end %>
